<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="mgflasherazuredevops" value="https://pkgs.dev.azure.com/mgflasher/mgflasher-app/_packaging/mgflasher-app/nuget/v3/index.json" />
    <add key="mgflashergithub" value="https://nuget.pkg.github.com/mgflasher-team/index.json" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <mgflasherazuredevops>
      <add key="Username" value="damian.pozimski@gmail.com"/>
      <add key="ClearTextPassword" value="b3jns7cs7iivrouehyrcc7jihyakvkctmm6vo46douiqulzbpj6a"/>
    </mgflasherazuredevops>
    <mgflashergithub>
      <add key="Username" value="dpozimski" />
      <add key="ClearTextPassword" value="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" />
    </mgflashergithub>
  </packageSourceCredentials>
</configuration>